<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div class="img"><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<main>
        <div class="title-div">
            <h1 class="title" th:if="${movies.isEmpty()}">Non ci sono film che soddisfano i requisiti</h1>
            <h1 class="title" th:unless="${movies.isEmpty()}">Ecco i film trovati:</h1>
        </div>
	<div class="card-slideshow mini-margin-top">
            <div class="card-container small-margin-top">
                <div class="card" th:each="movie:${movies}">
                    <div class="card-img">
                        <img class="boh" th:src="@{'data:image;base64,' + ${movie.urlImage}}">
                    </div>
                    <div class="card-info">
                        <a href="movie.html" th:href="@{'/movie' + '/' + ${movie.id} }" class="link">
                            <h3 th:text="${movie.title} + ' ' + '(' + ${movie.year} + ')'">Info</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>